<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolmanagerserver.mapper.AdminMapper">
    <insert id="addUser" statementType="CALLABLE">
        {CALL add_user(
        #{username, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{role, jdbcType=VARCHAR},
        #{status, jdbcType=INTEGER, mode=OUT}
        )}
    </insert>

    <select id="selectRole" resultType="String">
        SELECT `name` FROM `role`;
    </select>

    <select id="getRoleByUsername" resultType="String">
        select role_name as roleName from user_roles
        where username  = (#{username})
    </select>

    <insert id="addUserRole">
        <if test="RolesToAdd != null and !RolesToAdd.isEmpty()">
            insert into user_roles (username, role_name)
            <foreach collection="RolesToAdd" item="rolename" separator="," open="values">
                (#{username}, #{rolename})
            </foreach>
        </if>
    </insert>

    <delete id="deleteUserRole">
        DELETE FROM user_roles
        WHERE username = #{username}
        AND role_name IN
        <foreach collection="RolesToRemove" item="rolename" open="(" separator="," close=")">
            #{rolename}
        </foreach>
    </delete>

    <insert id="addRole" useGeneratedKeys="true">
        insert into `role`(name) values (#{newRoleName})
    </insert>

    <select id="findAllUsers" resultType="User">
        SELECT id, username, real_name, email
        FROM user
    </select>

    <delete id="deleteRoleByName" parameterType="String">
        call deleteRoleByName (#{roleName})
    </delete>


</mapper>